@import '../../../../../styles-variables';
@import '../../../../../themes/default-theme';

$gpn-chart_bar-h: 15px;

.chart-container{
    padding: $gpn-padding;
}

.competence-table{
    width: 100%;

    h4{
        margin-bottom: 0;
        margin-top: $gpn-padding/2;
    }
    
    td{
        padding: $gpn-padding/5;
        vertical-align: middle;
    }
}

.constraint-bar{    
    display: inline-block;
    position: relative;
    height: $gpn-chart_bar-h;
    vertical-align: middle;
}
 
.competence{
    cursor: pointer;
    text-align: right;
    width: 27%;
    font-size: 10pt;
    font-family: 'din';
    text-decoration: underline;
    color: $gpn-links-color;
}

 .competence-label-min,
 .competence-label-max{
    width: 100px;
 }

 .constraint-max,
 .constraint-min{    
    position: relative; 
    font-family: 'din';
    font-size: 10pt;   
    display: inline-block;    
    background: none!important;
    padding: 0px $gpn-padding/5;
 }

 .constraint-min{
    text-align: right;
 }

.margin-unlimited-max{
    // background: linear-gradient(to left, rgba(0,0,0,0), lightgrey);
}

.margin-unlimited-min{
    // background: linear-gradient(to right, rgba(0,0,0,0), lightgrey);
}
.competence-margins{
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
}
