.mat-form-field {
  width: 100%;
}

#charter-message {
  color: red;
  position: absolute !important;
  margin-top: -18px !important;
  font-size: 13px;
}

.select-charter-item {
  display: block;
  font-size: 14px;
  position: absolute;
  top: 18px;
}
