@import '../../../../../styles-variables.scss';

@import '~@angular/material/theming';

.state {
  display: block;
}

.state-10 {
  color: mat-color($mat-green, 500);
  &::after {
    content: 'Анализируется';
  }
}

.state-11 {
  color: mat-color($mat-red, 500);
  &::after {
    content: 'Ошибка при анализе';
  }
}

.state-12 {
  color: mat-color($mat-orange, 500);
  &::after {
    content: 'Документ не попадает под параметры Аудита';
  }
}

.state-15 {
  color: mat-color($mat-teal, 500);
  &::after {
    content: 'Анализ завершен';
  }
}

.state-0,
.state-5,
.state-null {
  color: mat-color($mat-indigo, 500);
  &::after {
    content: 'Загружен, ожидает анализа';
  }
}

.small {
  font-size: 85%;
  color: $gpn-labels;

  mat-icon {    
    margin: 0;
    padding: 0;
    font-size: 12px;
    height: auto;
    width: 16px;
  }
}

