<div class="container position-relative">
  <h4>Новое задание на предпроверку</h4>
  <br>
  <mat-form-field style="width: 100%" color="accent">
    <mat-label>Вид проверки</mat-label>
    <mat-select [formControl]="typeControl" multiple>
      <mat-option *ngFor="let type of checkTypes" [value]="type">{{type | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf="typeControl.value.length === 0">
    Вы не выбрали тип проверки!
  </mat-error>
  <mat-label>
    Выберите договор и его приложения
  </mat-label>
  <div style="width: 100%">
    <input [(ngModel)]="filesString" type="file" accept=".doc, .docx" multiple (change)="uploadFiles($event)">
  </div>
  <ng-container *ngIf="typeControl.value.includes('InterestControl')">
    <br>
    <mat-label>
      Выберите файл с цепочкой бенефециаров
    </mat-label>
    <div style="width: 100%">
      <input [(ngModel)]="chainString" type="file" accept=".xls, .xlsx" (change)="uploadChain($event)">
    </div>
  </ng-container>
  <br>
  <ng-container *ngIf="typeControl.value.includes('InsiderControl')">
  <mat-error *ngIf="!data.bookValueRelevance"> Необходимо добавить актуальную балансовую стоимость для ПАО "Газпром нефть".
    Для текущей проверки проекта договора будет использована балансовая стоимость за предыдущий период.<br>
  </mat-error>
  </ng-container>
  <br>
  <ng-container *ngIf="typeControl.value.includes('InterestControl')">
  <mat-error *ngIf="!data.affiliatesListReference">Необходимо загрузить актуальный список аффилированных лиц ПАО "Газпром".
    Для текущей проверки проекта договора будет использован список за предыдущий период.<br>
  </mat-error>
    </ng-container>
  <div class="row">
    <div class="col">
      <button mat-raised-button (click)="CloseForm()" style="float: right">Отменить</button>
    </div>
    <div class="col">
      <button mat-raised-button color="accent" (click)="submitFiles()" [disabled]="!valid()">Новое задание
      </button>
    </div>
  </div>

</div>
