/*
$gpn-primary: mat-palette($mat-gray, 100, 300, 900);
$gpn-accent: mat-palette($mat-blue, 500);
$gpn-warn: mat-palette($mat-pink, 600);

$gpn-theme: mat-light-theme($gpn-primary, $gpn-accent, $gpn-warn);

*/

$gpn-light-primary: mat-palette($mat-blue, 300, 200, 500);
$gpn-light-accent: mat-palette($mat-blue, 500, 100, 100);
$gpn-light-warn: mat-palette($mat-pink, 200);

$gpn-light-theme: mat-light-theme(
  $gpn-light-primary,
  $gpn-light-accent,
  $gpn-light-warn
);

@include angular-material-theme($gpn-light-theme);
