<mat-sidenav-container *ngIf="document" autosize>
  
  <mat-sidenav mode="side" opened class="left_group"> 
    
    <mat-tab-group color="accent" animationDuration="0ms" dynamicHeight='true'>

      <mat-tab label="Детали">
        <div class="container">
          <gpn-document-details
            [document] = "document"
            [editable]="editmode"
          >
          </gpn-document-details>
        </div>
      </mat-tab>

      <mat-tab label="Заголовки">
        <cdk-virtual-scroll-viewport  style="height: 80vh" itemSize="50" >
          <gpn-tree-attributes
            [editmode]="editmode"
            [attributes]="attributes"
            [headers]="document.analysis.headers"
            [documentType] = "documentType"
            (goToAttribute)="goToAttribute($event)"
          ></gpn-tree-attributes>
        </cdk-virtual-scroll-viewport>
      </mat-tab>
    
    </mat-tab-group>

  </mat-sidenav>
  <mat-sidenav-content>



  

   
    <mat-toolbar>
    
      <button mat-icon-button matTooltip="Перейти в режим редактирования" (click)="editMode()" [disabled]="editmode">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>

      <button mat-icon-button matTooltip="Сохранить изменения" (click)="saveChanges()" [disabled]="!changed">
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button matTooltip="Обновить" (click)="refresh()">
        <fa-icon [icon]="faSyncAlt"></fa-icon>
      </button>

      <button mat-icon-button matTooltip="В начало документа" (click)="goToAttribute('top')" style="float: right">
        <fa-icon [icon]="faChevronUp"></fa-icon>
      </button>

      <button mat-icon-button matTooltip="В конец документа" (click)="goToAttribute('foot')" style="float: right">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </button>
    </mat-toolbar>
    
     

    <gpn-competencecharts *ngIf="document.documentType == 'CHARTER' && attributes"
                          (goToAttribute)="goToAttribute($event)"
                          [attributes] = "attributes"></gpn-competencecharts>
     

    <div id="container_view_document">
        <gpn-view-document
        [document]="document"
        [kinds] = "documentType"
        [editmode]="editmode"
        [attributes] = "attributes"
        (changeAttribute)= "changeAttribute($event)"
        (refresh)="refresh()"
      ></gpn-view-document>
    </div>

  


</mat-sidenav-content>
</mat-sidenav-container>


