<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="margin-left: 10px">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <div style="width: 100%" >
      <div class="row">
        <div class="col">
          <span class="link_tag" (click)="clickAttribute(node)">
         {{ node.display_value }}
        </span> </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <div style="width: 100%">
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <fa-icon [icon]="faChevronDown" *ngIf="!treeControl.isExpanded(node)"></fa-icon>
        <fa-icon [icon]="faChevronUp" *ngIf="treeControl.isExpanded(node)"></fa-icon>
      </button>
      <div class="col">
          <span class="link_tag" (click)="clickAttribute(node)">
         {{ node.display_value }}
        </span> </div>
    </div>
  </mat-tree-node>

</mat-tree>
