@import '../../../../../styles-variables.scss';
.mat-tree-node {
  min-height: 30px;
}

.link_tag {
  white-space: nowrap;
  color: $gpn-links-color;
  cursor: pointer;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    color: $gpn-links-color-hover;
  }
}
