<div class="row">
  <div class="col">
    <label
        cdkDrag
        cdkDragRootElement=".cdk-overlay-pane"
        cdkDragHandle><b>Редактор фрагментов документа</b></label>
  </div>
  <div class="col-1">
    <fa-icon [icon]="faTimes"style="alignment: center" class="close" (click)="closeForm()" matTooltip="Закрыть"></fa-icon>
  </div>
</div>
<mat-divider></mat-divider>

  <mat-form-field style="width: 100%; height: auto">
    <mat-label>Фрагмент документае</mat-label>
    <textarea matInput readonly="true" [readOnly]="true">{{data.display_value}}</textarea>
  </mat-form-field>

<div class="row">

    <div class="col">
      <form [formGroup]="editForm">
        <mat-form-field style="width: 100%">
          <mat-label>Тип фрагмента</mat-label>
            <mat-select (selectionChange)="changedKind($event)" formControlName = "kind">
            <mat-option *ngFor="let type of data.documentType" [value]="type">
            {{type.kind | translate}}
            </mat-option>
        </mat-select>
        </mat-form-field>
      </form>
    </div>

  <div class="col" *ngIf="selectedKind" [ngSwitch]="selectedKind.type">

    <ng-container *ngSwitchCase="'number'">
      <mat-form-field style="width: 100%">
        <mat-label>Значение</mat-label>
        <input (change)="change($event)" type="number" class="form-control" matInput placeholder="Значение" [(ngModel)]="data.value">
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'string'">
      <mat-form-field style="width: 100%;">
        <mat-label>Значение</mat-label>
        <textarea (change)="change($event)" matInput style="height: 22px" [(ngModel)]="data.value"></textarea>
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'dictionary'">
      <mat-form-field style="width: 100%">
        <mat-label>Значение</mat-label>
        <mat-select (selectionChange)="change($event)" [(ngModel)]="data.value">
          <mat-option *ngFor="let _value of selectedKind.values" [value]="_value">
            {{_value | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

  </div>
</div>
<div class="row">
  <div class="col">
  </div>
  <div class="col">
    <button  mat-raised-button color="accent" (click)="applyChanges()" [disabled]="!valid()" style="float: right; width: 100px; margin-left: 10px ">Применить</button>
    <button mat-raised-button (click)="deleteAtr()" [disabled]="_new" style="float: right; width: 100px;">Удалить</button>
  </div>
</div>



