@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;

$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);

$gpn-links-color: mat-color($mat-blue, 500);
$gpn-links-color-hover: mat-color($mat-blue, 900);

$gpn-error: mat-color($mat-pink, 500);
$gpn-warning: mat-color($mat-orange, 800);

$gpn-labels: mat-color($mat-grey, 500);
$gpn-labels-darker: mat-color($mat-grey, 800);
$gpn-padding: 20px;
$gpn-padding-half: $gpn-padding/2;

$gpn-paper-color: #f3f1ec; //  color for the doc text background, aslo for quotes

$comp_t: 200;
$comp_fade: 0.3;
$competences: (
  RealEstate: mat-color($mat-red, $comp_t),
  Lawsuit: mat-color($mat-indigo, $comp_t),
  Deal: mat-color($mat-deep-purple, 100),
  BigDeal: mat-color($mat-deep-purple, 200),
  Charity: mat-color($mat-blue-grey, $comp_t),
  Other: mat-color($mat-blue-grey, $comp_t),
  Loans: mat-color($mat-green, $comp_t),
  Insurance: mat-color($mat-cyan, $comp_t),
  Consulting: mat-color($mat-blue, $comp_t),
  RentingOut: mat-color($mat-pink, $comp_t),
  Renting: mat-color($mat-orange, $comp_t),
  // temporal styles AgencyContract: mat-color($mat-gray, 500),
  BankGuarantees: mat-color($mat-gray, 500),
  RelatedTransactions: mat-color($mat-gray, 500),
  GeneralContract: mat-color($mat-gray, 500),
  EmployeeContracts: mat-color($mat-gray, 500),
  LoansPledgeEncumbrance: mat-color($mat-gray, 500),
  Liquidation: mat-color($mat-gray, 500),
  Service: mat-color($mat-gray, 500),
  CashPayments: mat-color($mat-gray, 500),
  RefusalToLeaseLand: mat-color($mat-gray, 500),
  DealGeneralBusiness: mat-color($mat-gray, 500),
  RevisionCommission: mat-color($mat-gray, 500),
  Reorganization: mat-color($mat-gray, 500),
  InterestedPartyTransaction: mat-color($mat-gray, 500),
  RelatedPartyTransaction: mat-color($mat-gray, 500),
  AssetTransactions: mat-color($mat-gray, 500),
  DealIntellectualProperty: mat-color($mat-gray, 500),
  RealEstateTransactions: mat-color($mat-gray, 500),
  SecuritiesTransactions: mat-color($mat-gray, 500),
  RegisteredCapital: mat-color($mat-gray, 500),
  ParticipationInOtherOrganizations: mat-color($mat-gray, 500),
  DecisionsForSubsidiary: mat-color($mat-gray, 500)
);

@each $name, $color in $competences {
  .#{$name}-fade-right {
    background: linear-gradient(to right, #{$color}, rgba(0, 0, 0, 0));
  }

  .#{$name}-fade-left {
    background: linear-gradient(to left, #{$color}, rgba(0, 0, 0, 0));
  }

  .#{$name}-solid {
    background: #{$color};
  }

  .#{$name} {
    background: fade-out($color, $comp_fade) !important;
  }
}
