@import '../../../../../styles-variables.scss';

.mat-table {
  width: 100%;
}

.mat-row:hover {
  background-color: aliceblue;
}

.doc_type {
  display: block;
}

.number,
.attribute {
  font-size: 85%;
  color: $gpn-labels;
}

.reference {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

td.mat-cell {
  border-bottom-style: none;
}

.mat-row:nth-child(even) {
  border-bottom: 1px solid lightgrey;
}
