@import '../../../../../styles-variables.scss';

.mat-table {
  width: 100%;
}

.mat-row:hover {
  background-color: aliceblue;
}

.doc_type {
  display: block;
}

.number,
.attribute {
  font-size: 85%;
  color: $gpn-labels;
  background: none;
}

.reference {
  color: $gpn-links-color;
  cursor: pointer;
  &:hover {
    color: $gpn-links-color-hover;
  }
}

.mat-column-violation_reason {
  width: 30%;
}
.mat-column-violation_type {
  width: 30%;
  padding: 0 $gpn-padding-half;
}

div.btn-group {
  display: none;
}

.mat-row:hover .btn-group {
  display: inline-block;
}

.mat-column-events {
  width: 5% !important;
}

.mat-column-document {
  width: 9% !important;
}

.mat-column-creator {
  width: 10% !important;
}

.mat-column-founding_document {
  width: 15% !important;
}

.mat-column-reference {
  width: 25% !important;
}

.mat-column-violation_type {
  width: 23% !important;
}

.mat-column-violation_reason {
  width: 17% !important;
}

.mat-column-events {
  width: 1% !important;
}
