<span><b>Список прав доступа</b></span>
<hr>

<mat-selection-list (selectionChange)="selectionChange($event)">
  <mat-list-option *ngFor="let role of data.roles"
                   [value]="role._id"
                   [disabled]="disabledRole(role._id)"
                   [selected]="selectedRole(role._id)"
                   checkboxPosition="before"
  >
    {{role.description}}
  </mat-list-option>
</mat-selection-list>

<div class="row">
  <div class="col">
    <button mat-raised-button (click)="CloseForm()" style="float: right">Отменить</button>
  </div>
  <div class="col">
    <button mat-raised-button color="accent" (click)="Apply()">Сохранить</button>
  </div>
</div>
