<div class="container">
  <h4>Новое задание</h4>
  <mat-form-field>
    <mat-select [formControl]="subsidiaryCtrl" placeholder="Выбрать Дочернее Общество" #selectSubsidiary>
      <mat-option>
        <ngx-mat-select-search [formControl]="subsidiaryFilterCtrl"
                               [placeholderLabel]="'Поиск дочернего общества...'"
                               [noEntriesFoundLabel]="'Дочернее общество не найдено'"
        >
          <fa-icon ngxMatSelectSearchClear [icon]="faTimes" matTooltip="Очистить поиск"></fa-icon>
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let subsidiary of filteredSubsidiaries | async" [value]="subsidiary">
        {{subsidiary.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Путь к файлам (FTP URL)" [(ngModel)]="_ftpUrl">
  </mat-form-field>
  <br>
  <div class="row">
    <div class="col">
      <button mat-raised-button (click)="CloseForm()"  style="float: right">Отменить</button>
    </div>
    <div class="col">
      <button mat-raised-button color="accent" (click)="uploadCharter()" [disabled]="!valid()">Загрузить устав</button>
    </div>
  </div>
</div>
