@import '../../../../../styles-variables';
@import '../../../../../themes/default-theme';

 

.tag_headline {
  font-weight: 400;
  font-size: 120%;
}

.tag_br {
  display: block;
  height: 16px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}
