@import '../../../../../styles-variables';
@import '../../../../../themes/default-theme';


.tag_default{
  background: #e8eaf6;
  border-radius	:3px;
  padding:2px
}



.tag_org_2_alias{
  background: #ffe97d
}
.tag_org_1_alias{
  background: #ffb74d
}


.tag_org_2_name{
  background: #e91e63
}
.tag_org_1_name{
  background: #ff6090
}

.tag_org_1_type{
  background: #66a39d
}

.tag_org_2_type{
  background: #7ed8cf
}

.tag_headline{
  font-weight: 400;
  font-size: 120%;
}


.tag_br{
  display: block;
  height: 16px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}
