.view_doc {
  height: 95%;
  border: 1px solid #c1c1c1;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.headline {
  background: lightskyblue;
}

.org_1 {
  background: khaki;
}

.org_2 {
  background: lightsteelblue;
}
