.view_doc {
  height: 92%;
  margin-left: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.headline {
  background: lightskyblue;
}

.org_1 {
  background: khaki;
}

.org_2 {
  background: lightsteelblue;
}
