.container {
  height: 90vh;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding-top: 15px;
}

.inputText {
  width: 100%;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #dddddd;
}

.form-popup {
  display: none;
  position: fixed;
  top: 120px;
  left: 30px;
  width: 300px;
  background-color: white;
}

.btn {
  flex: auto;
  margin: 5px;
}

.btnContainer {
  display: flex;
  flex-flow: wrap;
}
