.container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: flex-end;
  width: 100%;
  max-width: 960px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding-top: 15px;
  &_item {
    flex: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  
}

.btn {
  flex: auto;
  margin: 5px;
  height: 36px;
}

.btnContainer {
  flex:auto;
  display: flex;
  flex-flow: wrap;
  align-content:center;
}
