<div class="mat-elevation-z10 container">
  <label style="margin-top: 5px; font-size:16px; font-weight: bold;">Панель фильтров</label>
  <hr>
  <mat-form-field style="width: 100%" color="accent">
    <mat-label>Пользователь</mat-label>
    <mat-select [(ngModel)]="selectedUsers" [formControl]="filter" multiple>
      <mat-option *ngFor="let user of users" [value]="user">{{user}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput [matDatepicker]="createDate" placeholder="Дата создания" readonly [(ngModel)]="_createDate">
    <mat-datepicker-toggle matSuffix [for]="createDate"></mat-datepicker-toggle>
    <mat-datepicker #createDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="width: 100%" color="accent">
    <mat-label>Вид проверки</mat-label>
    <mat-select [(ngModel)]="selectedTypes" [formControl]="filter" multiple>
      <mat-option *ngFor="let type of checkTypes" [value]="type">{{type | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%" color="accent">
    <mat-label>Статус проверки</mat-label>
    <mat-select [(ngModel)]="selectedStatuses" [formControl]="filter" multiple>
      <mat-option *ngFor="let status of auditStatuses" [value]="status">{{status | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="btnContainer">
    <button mat-raised-button (click)="applyFilter()" class="btn">Применить</button>
    <button mat-raised-button (click)="clearFilter()" class="btn">Очистить</button>
  </div>
</div>