<div>
  <div class="row mat-elevation-z10" style="background: #e8eaf6;">
    <div class="col">
        <div class="search-container" style="margin-left: 15px">
          <mat-form-field appearance="legacy" >
          <mat-label>Поиск аудита</mat-label>
          <input matInput placeholder="Поиск" style="width: 250px">
          <mat-icon svgIcon="search.icon" aria-hidden="false" style="float: right" matTooltip="Поиск"></mat-icon>
        </mat-form-field>
        </div>
    </div>
    <div class="col">
      <button mat-raised-button color="accent" style="float: right; margin-right: 20px; margin-top: 15px" (click)="CreateAudit()">Добавить</button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="OpenAudit(element)"> {{element.name}} </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="nameDepartment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование ДО </th>
      <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
    </ng-container>

    <ng-container matColumnDef="auditStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата начала </th>
      <td mat-cell *matCellDef="let element"> {{element.auditStart | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="auditEnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата окончания </th>
      <td mat-cell *matCellDef="let element"> {{element.auditEnd | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="documentCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Кол-во проверенных документов </th>
      <td mat-cell *matCellDef="let element"> {{element.documentCount}} </td>
    </ng-container>

    <ng-container matColumnDef="endAudit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Заключение </th>
      <td mat-cell *matCellDef="let element"> {{element.endAudit}} </td>
    </ng-container>

    <ng-container matColumnDef="statusAudit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
      <td mat-cell *matCellDef="let element"> {{element.statuses[0].status.name}} </td>
    </ng-container>

    <ng-container matColumnDef="businessProcess">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> БИЗНЕС-ПРОЦЕСС </th>
      <td mat-cell *matCellDef="let element"> Ход исполнения процесса </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> КОММЕНТАРИИ </th>
      <td mat-cell *matCellDef="let element"><mat-icon svgIcon="comment.icon" aria-hidden="false" style="alignment: center" matTooltip="Комментарии"></mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [length]="count" [pageSize]="pageSize"
                 (page)="getPaginatorData($event)">
  </mat-paginator>
</div>


