@import '../../../../styles-variables';
@import '../../../../themes/default-theme';

.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-subsidiaryName {
  width: 45% !important;
}

.mat-column-auditStart {
  width: 10% !important;
}

.mat-column-auditEnd {
  width: 10% !important;
}

.mat-column-checkedDocumentCount {
  width: 5% !important;
}

.mat-column-createDate {
  width: 10% !important;
}

.main_group {
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  width: 100%;
  margin-bottom: 15px;
}

.left_group {
  flex: auto;
  flex-basis: 20%;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  float: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.right_group {
  flex: auto; 
  display: flex;
  flex-direction: column;
  flex-basis: 78%;
  margin-right: 10px;
  padding-left: 10px;
  float: right;
}

.search-container > * {
  width: 50%;
}

.md-button.md-cornered {
  border-radius: 0;
}

.mat-table {
  width: 100%;
}

.link_tag {
  cursor: pointer;
}

.mat-row:hover {
  cursor: pointer;
  background-color: aliceblue;
}

div.btn-group {
  display: none;
}
.mat-row:hover .btn-group {
  display: inline-block;
}

.small {
  font-size: 85%;
  color: $gpn-labels;

  mat-icon {
    margin: 0;
    padding: 0;
    font-size: 12px;
    height: auto;
    width: 16px;
  }
}
