.search-container > * {
  width: 50%;
}

.md-button.md-cornered {
  border-radius: 0;
}

.mat-table {
  width: 100%;
}

.link_tag {
  cursor: pointer;
}

.mat-row:hover {
  cursor: pointer;
  background-color: aliceblue;
}
