@import '../../../../../styles-variables.scss';

.mat-table {
  width: 100%;
}

.mat-row:hover {
  background-color: aliceblue;
}

.org-type,
.small {
  font-size: 85%;
  color: $gpn-labels;
}

.org-alias {
  color: $gpn-labels;
}

.org-name {
  display: block;
}
