@import '../../../../../styles-variables.scss';

.mat-table {
  width: 100%;
}

.mat-row:hover {
  background-color: aliceblue;
}

.doc_type {
  display: block;
}

.number,
.attribute {
  font-size: 85%;
  color: $gpn-labels;
  background: none;
}

.reference {
  color: $gpn-links-color;
  cursor: pointer;
  &:hover {
    color: $gpn-links-color-hover;
  }
}

.mat-column-violation_reason {
  width: 30%;
}
.mat-column-violation_type {
  width: 30%;
  padding: 0 $gpn-padding-half;
}

.org-type,
.small {
  font-size: 85%;
  color: $gpn-labels;
}

.org-alias {
  color: $gpn-labels;
}

.org-name {
  display: block;
}
