@import '~bootstrap/scss/bootstrap';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

#table-wrapper {
  position:relative;
}
#table-scroll {
  height: 70vh;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
}
