<div>
  <div class="search-container" style="margin-left: 15px">
    <span><b>Список пользователей</b></span>
    <mat-form-field appearance="legacy" >
      <mat-label>Поиск пользователя</mat-label>
      <input matInput placeholder="ФИО или логин" style="width: 80%" (change)="valueSearch($event.target.value)">
      <fa-icon [icon]="faSearch" matTooltip="Поиск" style="float: right"></fa-icon>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="sAMAccountName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Логин </th>
      <td mat-cell *matCellDef="let element">
        <fa-icon [icon]="faPlusSquare" matTooltip="Добавить пользователя" style="float: left" (click)="Apply(element)"></fa-icon>
        <span style="margin-left: 10px">{{element.sAMAccountName}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ФИО </th>
      <td mat-cell *matCellDef="let element"> {{ element.displayName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [length]="count" [pageSize]="pageSize"
                 (page)="getPaginatorData($event)">
  </mat-paginator>

</div>
