@import '../../../../styles-variables';
@import '../../../../themes/default-theme';

table {
  width: 100%;
}
.mat-column-date {
  max-width: 20px;
}

.mat-column-date {
  max-width: 20px;
}

.left_group {
  margin-left: 10px;
  height: 80vh;
  width: 20%;
  float: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.right_group {
  margin-right: 10px;
  height: 80vh;
  width: 78%;
  float: right;
}
