@import '../../../../styles-variables.scss';

.errorFile {
  color: $gpn-error;
}

.top-bar {
  width: 100%
}

.fill-remaining-space {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding-left: 1%;
  padding-right: 1%;
}

::ng-deep .toolTip {
  font-size: 14px;
}

.mat-toolbar {
  padding: $gpn-padding;

  h2 {
    color: mat-color($mat-blue, 700);
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2em;
    font-family: 'din';
    .headline-date {
      font-size: 14px;
      color: $gpn-labels-darker;
    }
  }

  .headline-status {
    font-size: 14px;
  }

  .approve {
    margin-left: 10px;
  }
}

mat-tab-group {
  background-color: white;
}

.mat-form-field {
  width: 90%;
  align-content: center;
}

.left_group {
  max-width: 350px;
  .container {
    padding: $gpn-padding;
  }
  position: fixed;
}
