.view_doc {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background: white;
}

.headline {
  //background-color: lightskyblue;
  font-weight: 900;
}

.hint_span,
.hint {
  border-radius: 5px;
  border: 1px solid grey;
}

.subject {
  background: linear-gradient(to bottom, white, darkseagreen);
}

.value,
.competence_CEO_finance_constraint_max_value,
.competence_CEO_deals_constraint_max_value,
.competence_CEO_court_constraint_max_value {
  background: linear-gradient(to bottom, white, palegreen);
}

.org_2_alias {
  background: linear-gradient(to bottom, white, #ffe97d);
}
.org_1_alias {
  background: linear-gradient(to bottom, white, #ffb74d);
}

.org_2_name {
  background: linear-gradient(to bottom, white, #e91e63);
}

.org_2_alt_name {
  background: linear-gradient(to bottom, white, #e91e63);
}

.org_1_name {
  background: linear-gradient(to bottom, white, #ff6090);
}

.org_1_alt_name {
  background: linear-gradient(to bottom, white, #ff6090);
}

.org_1_type {
  background: linear-gradient(to bottom, white, #66a39d);
}

.org_2_type {
  background: linear-gradient(to bottom, white, #7ed8cf);
}

.org_1_type_ext,
.sign {
  background: linear-gradient(to bottom, white, cornflowerblue);
}

.currency,
.competence_CEO_deals_constraint_max_currency,
.competence_CEO_finance_constraint_max_currency,
.competence_CEO_court_constraint_max_currency {
  background: linear-gradient(to bottom, white, lightskyblue);
}

.org_structural_level {
  background: linear-gradient(to bottom, white, rosybrown);
}

.competence_CEO_finance_constraint_max_sign,
.competence_CEO_deals_constraint_max_sign,
.competence_CEO_court_constraint_max_sign {
  background: linear-gradient(to bottom, white, salmon);
}

.competence_CEO_finance,
.competence_CEO_deals,
.competence_CEO_court,
.RealEstate,
.Lawsuit {
  background: linear-gradient(to bottom, white, sandybrown);
}

.unknown {
  background: linear-gradient(to bottom, white, lightgrey);
}

.CEO,
.AllMembers,
.ShareholdersGeneralMeeting,
.BoardOfDirectors {
  background: linear-gradient(to bottom, white, antiquewhite);
}

.hint {
  background: white;
  border: 1px solid grey;
  vertical-align: super;
  font-size: 10px;
  cursor: pointer;
}
