<div>
  <button mat-icon-button matTooltip="Перейти в режим редактирования" (click)="editMode()" [disabled]="editmode">
    <fa-icon [icon]="faEdit"></fa-icon>
  </button>

  <button mat-icon-button matTooltip="Сохранить изменения" (click)="saveChanges()" [disabled]="!changed">
    <fa-icon [icon]="faSave"></fa-icon>
  </button>

  <button mat-icon-button matTooltip="В начало документа" (click)="goToAttribute('top')" style="float: right">
    <fa-icon [icon]="faChevronUp"></fa-icon>
  </button>

  <button mat-icon-button matTooltip="В конец документа" (click)="goToAttribute('foot')" style="float: right">
    <fa-icon [icon]="faChevronDown"></fa-icon>
  </button>
</div>
<mat-divider></mat-divider>
<pre class="view_doc" id="view_doc" (mouseup)="getSelectedText($event)"></pre>
