@import '../../../../styles-variables';
@import '../../../../themes/default-theme';

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background:mat-color($gpn-primary, 100);
}

tr.element-row:not(.expanded-row):active {
  background:mat-color($gpn-primary, 200);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.customWidthClass{
  flex: 0 0 120px !important;
  width: 120px !important;
}


/* Structure */

.mat-cell {
  font-size: 12px;
  min-height: 48px;
  text-align: left;
  border-right: 1px solid gainsboro;
}

.container {
  position: relative;
  min-height: 200px;
  padding: 0;
}

.table-container {
  position: relative;
  max-height: 85vh;
  overflow: auto;
  padding: 0;
}

table {
  width: 100%;
}


/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-filemtime {
  max-width: 250px;
}

.left_group {
  margin-left: 10px;
  height: 80vh;
  width: 20%;
  float: left;
  //border: 1px solid #c1c1c1;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.right_group {
  margin-right: 10px;
  height: 80vh;
  width: 78%;
  float: right;
}

.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.tp-margin {
  margin: 0 10px;
}

.spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

