@import '../../../../../styles-variables.scss';

@import '~@angular/material/theming';

.mat-tree-node {
  min-height: 25px;
}

.file-path,
.file-name {
  font-size: 9pt;
}

section {
  display: block;
  margin-bottom: $gpn-padding-half;
}

.mat-tree-node-root {
  font-family: 'din';
  font-weight: 500;
  font-size: 9pt;
  color: $gpn-labels-darker;
  text-transform: uppercase;
}

.delete {
  cursor: pointer;
}

.reference {
  color: $gpn-links-color;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
