@import '../../../../../styles-variables.scss';

@import '~@angular/material/theming';

.mat-tree-node {
  min-height: 25px;
}

.file-path, 
.file-name{  
  font-size: 9pt;  
}
 
.file-path{
  color: $gpn-labels;
  overflow: hidden;
  text-overflow: ellipsis;    
  text-align: right;
}

label{
  display: block;
  text-transform: uppercase;
  font-size: 9pt;
  color: $gpn-labels;
  &::after{
    content: ': ';
  }
}

section{
  display: block;
  margin-bottom: $gpn-padding-half;
}