<div>
  <div class="row mat-elevation-z10">
    <div class="col">
      <div class="search-container" style="margin-left: 15px">
        <mat-form-field appearance="legacy" >
          <mat-label>Поиск</mat-label>
          <input matInput placeholder="Группа" style="width: 250px" (change)="valueSearch($event.target.value)">
          <fa-icon [icon]="faSearch" matTooltip="Поиск" style="float: right"></fa-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col" hidden>

      <button mat-raised-button style="float: right; margin-right: 20px; margin-top: 15px; width: 120px" (click)="deleteUser()">
        <span> Удалить </span>
      </button>

      <button mat-raised-button color="accent" style="float: right; margin-right: 20px; margin-top: 15px; width: 120px" (click)="addGroup()">
        <span> Добавить </span>
      </button>

    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row._id === selectedGroup._id" disabled="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="cn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Группа </th>
      <td mat-cell *matCellDef="let element"> {{element.cn}} </td>
    </ng-container>

    <ng-container matColumnDef="roleString">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Список прав доступа </th>
      <td mat-cell *matCellDef="let element">
        <span style="margin-left: 10px"> {{element.roleString}} </span>
        <fa-icon [icon]="faCog" matTooltip="Права доступа" style="float: left" (click)="openDialogRoles(element)"></fa-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="selectRow(row)"></tr>
  </table>
  <mat-paginator [length]="count" [pageSize]="pageSize"
                 (page)="getPaginatorData($event)">
  </mat-paginator>
</div>
