<h3>Список пользователей</h3>
<div class="container">
  <div class="row">

    <div class="col">
      <button type="button" class="btn btn-success" (click)="addUser()" [disabled]="editedUser">Добавить</button>
      <table class="table table-striped">
        <thead>
        <tr>
          <td width="150">Логин</td>
          <td width="250">ФИО</td>
          <td width="500">Роли</td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <ng-template [ngTemplateOutlet]="readOnlyTemplate"
                       [ngTemplateOutletContext]="{ $implicit: user}">
          </ng-template>
        </tr>
        </tbody>
      </table>
      <hr>
      <span style="font-size: 18px; font-style: oblique;"><b>{{statusMessage}}</b></span>
    </div>

  </div>
</div>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-user>
  <td>{{user.login}}</td>
  <td>{{user.name}}</td>
  <td>{{ getStrRole(user.roles) }}</td>
  <td>
    <input type="button" value="Изменить" class="btn btn-default" (click)="openDialog(user)" />
  </td>
  <td>
    <input type="button" value="Удалить" (click)="deleteUser(user)" class="btn btn-danger" />
  </td>
</ng-template>
